<!--Se debe implementar un loading porque al cargar la página puede escupir errores en la consola debido a que hay algunas propiedades que no es capaz de cargar antes de que se muestre todo.-->
<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row animated fadeIn">

    <div class="col-2" *ngIf="!loading">
        <img [src]="artista.images | noimage" [alt]="artista.name" class="img-thumbnail img-circle">
        <!--La primera de las clases, "img-thumbnail" es de Bootstrap; la segunda, "img-circle", está definida en el archivo de style.css-->
    </div>


    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank"> Ir a la página del artista</a>
        </p>
    </div>


    <div class="col-4 text-right">
        <!--No hace falta poner las llaves en el routerLink para que mande un string directo aquí.-->
        <button class="btn btn-outline-danger" routerLink="/home">Volver</button>
    </div>

    <div class="row m-4">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <td>Foto</td>
                        <td>Álbum</td>
                        <td>Canción</td>
                        <td>Vista previa</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of topTracks">
                        <td>
                            <img [src]="track.album.images | noimage" [alt]="track.album.name" class="img-thumb">
                        </td>
                        <td><i>{{track.album.name}}</i></td>
                        <td><i>{{track.name}}</i></td>
                        <!--De forma sencilla y simplista, solo habría que poner las etiquetas <audio> que tiene HTML5 de forma nativa. Pero Spotify permite un widget, que es lo que al final se está utilizando.-->
                        <!--<td>
                            <audio [src]="track.preview_url" controls></audio>
                        </td>-->
                        <!-- El widget se obtiene de aquí: https://developer.spotify.com/documentation/widgets/generate/play-button/ -->
                        <td>
                            <!--He tenido que hacer una función para que recorte el uri correctamente, ya que en el curso no se hace exactamente igual a como está ahora mismo la API. La solución propuesta es la de llevarse esa url que se le pasa al domseguro como una constante, pero eso haría que esto fuera reutilizable. -->
                            <iframe [src]="getUriTrack(track) | domseguro:'https://open.spotify.com/embed/track/' " width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>